@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Base styles for body */
body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/Users/shrutikrishnapagadala/Documents/GitHub/DoctorAIproject/pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
}

.content {
  position: relative;
  background: transparent;
}

.main-content {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

.navbar {
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-list li {
  padding: 10px 20px;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #eaeef3;
  cursor: pointer;
}

.logo {
  margin: 1px;
}

div {
  background-color: rgb(236, 244, 248);
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header, main {
  text-align: left;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(85, 133, 236, 0.92);
}

form {
  margin: 10;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="text"],
.input-group input[type="date"],
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #50a2ea;
  border-radius: 4px;
}

button, input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover, input[type="submit"]:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
      width: 90%;
  }
  .hero {
      padding: 50px 20px;
      font-size: 2rem;
  }
  .hero p {
      font-size: 1rem;
  }
  .main-content {
      grid-template-columns: 1fr;
  }
}
